/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and border in the element’s total width and height */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Styles for header */
.header-container {
    position: relative; /* Ensures child elements position correctly */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    gap: 40px;
    padding: 30px 80px;
}

/* Styles for navigation */
.header-nav {
    display: flex; 
    align-items: center;
    gap: 90px; 
}

.header-nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 10px 0 10px 0; /* Adjust padding as needed */
    display: flex;
    gap: 30px; /* Space between nav items */
    align-items: center;
}

nav a {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 500;
}

.icons {
    display: flex; 
    gap: 20px; 
    align-items: center; 
    height: auto; 
}

.icon {
    color: #FFFFFF;
    width: 24px;
    height: 24px;
}

.logo h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px; 
    margin: 0; 
    background: linear-gradient(45deg, #03346E, #04C1FD); /* Gradient colors */
    background-clip: text; /* Clips background to text for other browsers */
    color: transparent; /* Makes the text color transparent to show the gradient */
}

/* Hamburger Button */
.hamburger {
    display: none; 
    font-size: 30px; 
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer; 
}

/* Main Section */
.main {
    position: relative;
    width: 100%;
    height: 560px; 
    overflow: hidden;
    padding: 0 80px;
}

.main svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the SVG covers the container */
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff; 
    width: 80%; /* Adjust width as needed */
    z-index: 1; 
}

.text-content {
    text-align: left; /* Align text to the left */
    margin-right: 50px; /* Space between text and image */
}

.main-image {
    width: 400px; 
    height: auto;
    border-radius: 40px; 
}

.text-content h1 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 10px;
}

.text-content h2 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.text-content p {
    font-size: 18px; 
    font-family: "Montserrat";
}

/* About Section */
.about {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 60px 80px;
    background-color: #F2F2F2;
}

.about h2 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 200px;
    justify-content: center;
}

.about-items {
    text-align: center;
    width: 50%;
}

.about-items img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.about-items p {
    font-size: 18px; 
    font-family: "Montserrat";
    margin-top: 10px;
    width: 100%;
}

/* Projects Section */
.projects{
    height: auto;
    background-color: #1B2A49;
    padding: 60px 80px;
}

.projects h2 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.projects-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 100px;
    justify-content: center;
    margin-top: 100px;
}

.projects-items {
    text-align: center;
    width: 50%;
}

.projects-items img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.projects-items h3 {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Montserrat";
    text-align: left;
    font-weight: 500;
}
.projects-items p {
    color: #FFFFFF;
    font-size: 18px; 
    font-family: "Montserrat";
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

/* Contact Section */
 .contact {
    background-color: #E5E5E5;
    height: auto;
    padding: 60px 80px;
 }

 .contact h2 {
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
 }

 .contact-form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-family: "Montserrat";
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "Montserrat";
    border: 2px solid #000000;
    border-radius: 6px;
}

.recaptcha-container {
    display: inline-block;
    width: 100%;
    max-width: 300px; /* Set max width of the reCAPTCHA */
    overflow: hidden;
    padding-bottom: 8px; /* Add padding to avoid cutting off the logo */
}

.g-recaptcha {
    transform: scale(0.85); /* Default scale for medium screens */
    transform-origin: 0 0; /* Ensure scaling starts from top-left */
    margin-bottom: 20px;
}

button {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 18px;
    border-radius: 12px;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Thank you Page */
.thank-you {
    background: linear-gradient(to bottom right, #6EACDA, #03346E); /* Gradient background */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 80px;
}

.thank-you-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for better text readability */
    border-radius: 8px;
}

.thank-you-text h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.thank-you-text p {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.return-button {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 16px;
    border-radius: 12px;
    padding: 10px 20px; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

/* Footer Section */
.footer-container{
    background-color: #000000;
    align-items: center;
    padding: 30px 0 30px 0

}
.footer-info p {
    font-size: 15px;
    color:#FFFFFF;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    gap: 20px; /* Space between icons */
}

.footer-icon {
    color: #FFFFFF;
    width: 24px;
    height: 24px;
}

.footer-icons {
    display: flex; /* Flexbox layout for aligning icons */
    gap: 20px; /* Space between icons */
    align-items: center; /* Align icons vertically to the center */
    height: auto; /* Allow container height to adjust based on content */
    justify-content: center;
    padding: 0 0 20px 0;
}

.contact-button {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 18px;
    border-radius: 12px;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    margin: 20px; /* Center horizontally and add space above */
    display: block; /* Makes the button respect padding and align properly */
    width: fit-content; /* Ensures the button width only fits the content */
}

/* Responsiveness */
@media (min-width: 1300px) {
    .projects {
        height: auto;
    }
}
@media (min-width: 1200px) {
    .text-content {
        width: 50%;
    }
}
@media (max-width: 991px) {

    .header-container {
        gap: 0px;
    }

    .logo h1 {
        font-size: 35px;
    }
    .main {
        height: 400px;
        padding: 20px 50px;
    }
    .text-content {
        margin-right: 60px; /* Space between text and image */
    }

    .text-content h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    .text-content p {
        font-size: 16px; 
    }

    .about-content {
        column-gap: 50px;
    }
    .about h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    .about-content p {
        font-size: 16px; 
    }

    .projects-content {
        column-gap: 50px;
        margin-top: 50px;
    }
    .projects h2 {
        font-size: 35px;
    }
    
    .projects-content p {
        font-size: 16px; 
    }

    .contact h2{
        font-size: 35px;
        margin-bottom: 50px;
        
    }
    .thank-you{
        padding: 60px 20px;
    }

    .thank-you-text h1 {
        font-size: 35px;
    }

    .main-image {
        width: 300px; 
        height: auto;
        border-radius: 40px; 
    }

    nav a {
        font-size: 16px;
    }

}
@media (max-width: 767px) {
    .main {
        height: 550px;
    }
 
    .header-nav ul {
        display: none; /* Hidden by default */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position right below the header */
        left: 0;
        background-color: #000;
        width: 100%;
        gap: 10px;
        padding: 10px;
        z-index: 1000; /* Ensure it's on top of other elements */
    }

    .header-nav ul.show {
        display: flex; /* Show menu when .show is added */
        margin-top: -25px;
    }

    nav a {
        font-size: 15px;
    }

    .logo h1 {
        font-size: 35px;
    }

    .icons {
        display: none; /* Hidden by default */
    }

    .icons.show {
        display: flex !important;
        flex-direction: row; /* Ensure icons are in a row */
        align-items: center;
        justify-content: center;
        background-color: #000;
        width: 100%;
        gap: 10px;
        padding: 10px 0px 10px 10px;
        z-index: 1000; /* Ensure it's on top of other content */
    }

    .hamburger {
        display: block; /* Show the hamburger button */
    }

    /* Combine icons with nav for mobile */
    .header-nav.show .icons {
        display: flex !important;
    }

    .main-content {
        /* Stacks the items vertically */
        flex-direction:column-reverse;
        align-items: center;
    }

    .main-image {
        padding: 20px 0 20px 0;
        width: 300px;
        border-radius: 40px;
    }

    .text-content {
        width: 70%;
        margin: 0;
    }

    .text-content h1 {
        width: 100%;
        text-align: center;
        font-size: 45px;
    }

    .text-content p {
        text-align: center;
    }

    .about {
        padding: 50px 0;
    }

    .about-content {
        flex-direction:column;
        align-items: center;
    }

    .about h2 {
        width: 100%;
        text-align: center;
        font-size: 45px;
    }

    .about-items {
        width: 80%;
    }

    .about-content p {
        text-align: center;
        padding: 0px 0px 60px 0;
    }

    .projects {
        padding: 50px 0;
        height: auto;
    }

    .projects-content {
        flex-direction:column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    .projects h2 {
        width: 100%;
        text-align: center;
        font-size: 45px;
    }

    .projects h3 {
        width: 100%;
        text-align: center;
        font-size: 28px;
    }

    .projects-items {
        width: 80%;
    }

    .projects-items img {
        padding: 0 0 20px 0;
    }

    .projects-content p {
        text-align: center;
    }

    .contact {
        padding: 50px 0px;
    }

    .contact-form {
        width: 80%;
    }
    .contact-button {
        margin-left: auto; /* Center the button */
        margin-right: auto; /* Center the button */
        display: block; /* Ensure the button is a block element for centering */
        width: fit-content; /* Ensures the button width only fits the content */
    }

    .thank-you-text h1 {
        font-size: 30px; 
    }
    
    .thank-you-text p {
        font-size: 16px;
      
    }
}

/* CSS for extra small devices */
@media (max-width: 575px) { 
    .header-container {
        padding: 30px 30px;
    }

    .logo h1 {
        font-size: 30px;
    }

    .main {
        height: 500px;
    }

    .main-image {
        width: 220px;
        border-radius: 40px;
    }

    .text-content {
        width: 100%;
        margin: 0;
    }

    .text-content h1 {
        font-size: 35px;
    }
    
    .text-content p {
        font-size: 15px;
    }

    .about-content {
        width: 100%;
        margin: 0;
    }

    .about-content p {
        font-size: 15px;
    }

    .about h2 {
        font-size: 35px;
    }

    .about-items img {
        height: auto;
        width: auto;
    }

    .projects-content {
        width: 100%;
    }

    .projects-content p {
        font-size: 15px;
    }

    .projects h2 {
        font-size: 35px;
    }

    .contact h2{
        font-size: 35px;
    }

    .thank-you-text h1 {
        font-size: 30px;
    }

    .icon {
        height: 16px;
        width: 16px;
    }

    .image-container {
        height: 1200px;
    }
}
@media screen and (max-width: 480px) {
    .g-recaptcha {
        transform: scale(0.75); /* Scale down further for small screens */
    }
}

@media screen and (max-width: 360px) {
    .g-recaptcha {
        transform: scale(0.65); /* Scale down even more for very small screens */
    }
}

@media (max-width: 300px) {
    .main {
        height: 550px;
    }

    .main h1 {
        font-size: 30px;
    }

    .about h2 {
        font-size: 30px;
    }

    .about-items img {
        height: auto;
        width: auto;
    }

    .projects h2 {
        font-size: 30px;
    }

    .contact h2{
        font-size: 30px;  
    }

    .thank-you-text h1 {
        font-size: 28px;
    }

    .return-button {
        font-size: 14px;
    }
}

@media (max-width: 230px){
    .main {
        height: 600px;
    }

    .thank-you h1 {
        font-size: 20px;
    }
}

